.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

.title { 
    font-size: 5.2rem;
    margin: 3rem;
    width: 50%;
    text-align: center;
}

.image {
    width: 50%;
    height: 100%;
    filter: drop-shadow(0px 0px 46px rgba(200, 200, 200, 0.25));
    border-radius: 10%;
}

.story {  
    font-size: 1.7rem;
    color: #606060;
    width: 50%;
}

.story::first-letter{
    font-size: 8.8rem;
    color: #FFF;
}

.moral {
    font-size: 2rem;
    padding: 5rem;
    border-bottom: 1px solid #FFF;
    text-align: center;
}

.nextContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    padding-top: 2.5rem;
    text-align: center;
}

.nextTitle{
    font-size: 2rem;
    cursor: pointer;
}

.nextTitle::after, .relatedStory h1::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
}
  
.nextTitle:hover::after, .relatedStory h1:hover::after {
    width: 100%;
}

.next{
    font-size: 1.8rem;
}

.relatedtitle{
    font-size: 3rem;
}

.relatedStory{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}

.relatedStory h1{
    font-size: 2rem;
    padding-top: 2rem;
}

.relatedStory div{
    color: #B1B1B1;
    font-size: 1.7rem;
    padding-top: 1rem;
}

.relatedStory img {
    border-radius: 10%;
    height: auto;
}

.relatedContainer{
    display: flex;
    flex-direction: column;
    padding:  5rem 4rem 10rem 4rem;
    border-top: 1px solid #FFF;
}

.storiesContainer{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 2rem;
}


@media (max-width: 680px) and (min-width: 375px) { 
    .story {        
        width: 80%; 
    }
    .title { 
        font-size: 4.2rem;
        width: 80%;
    }

    .relatedStory{
        max-width: 40%;
    }

    .storiesContainer{
        flex-wrap: wrap;
    }
}


