.profile_wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    gap: 3rem;
    margin: 4rem auto;
    position: relative;
<<<<<<< HEAD
    margin-bottom: 11rem;
=======
>>>>>>> 6f1c88fe247fad4dc20c5f619b1d34018ddb93d3
}

.leading{
    font-size: 4rem;
    color: black;
    height: 10rem;
    font-size: 3rem;
    padding: 3rem 3rem;
    background-color: #FFF;
    width: 100%;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-align: center;
}

.profile{
    display: flex;
    flex-direction: row;
   width: 100%;
    align-items: center;
    gap: 3rem;
    background-color: #FFF;
    padding: 5rem;
}

.profile_main{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: center;
    width: 50%;
}

.input{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
}

.input_button, .upload_button{
    width: 12rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    text-align: center;
    border: 1px black solid;
    padding: .5rem;
    cursor: pointer
}

.upload_button{
    order: -1
}

.profile_photo{
    object-fit: contain;
    width: 40%;
    border-radius: 10%;
    border: 1px solid black;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    gap: 3rem;
    width: 40%;
}

.info input::placeholder {
    font-size: 1rem;
    font-style: italic;
}

.info input {
    padding: 1rem;
    width: 100%
}

.info_name{
    padding-bottom: 2rem;
    text-transform: none;
}

@keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }

.updated{
    width: 60rem;
    height: 15rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align:center;
    position: absolute;
    left: 35%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border: 1px solid black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.updated button{
    order: 0;

}

.change_button, input[type="submit"]  {
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid black;
    background-color: #FFF;
}

input[name="name"]::placeholder {
    font-size: 3rem
}
